// Quasar SCSS (& Sass) Variables

$primary   : #520f90;
$secondary : #26a69a;
$accent    : #361c62;

$dark      : #1d1d1d;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
